{% extends "base.html" %}
{% load staticfiles %}

{% load bootstrap_toolkit %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block body %}

<head>
    <link href="{% static  'toplogy/css/style.css' %}" rel="stylesheet"/>
    <meta charset=utf-8/>
    <title>Visual style</title>

    <script src="{% static  'toplogy/js/jquery.min.js' %}"></script>
    <script src="{% static  'toplogy/js/cytoscape.min.js' %}"></script>
    <script src="{% static  'toplogy/js/code.js' %}"></script>
</head>

<body>
<div id="cy"></div>
</body>
{% endblock %}
