    <div class="navbar-inner">
        <a class="brand" href="#"><strong>&nbsp;mobogenie运维管理平台</strong></a>
        <ul class="nav nav-bar" id="id_ul_navbar">
            <li id="nav_assets"><a href="/assets">Assets</a></li>
            <li id="nav_toplogy"><a href="/toplogy">Toplogy</a></li>
            <li id="nav_curd"><a href="/curd">CURD</a></li>
            <li id="nav_Reserved"><a href="/reserved">Reserved Instance</a></li>
            <li id="nav_billing"><a href="/billing/showbill">AWS Billing</a></li>
            <li id="nav_iam"><a href="/iam/show">Keys Management</a></li>
            {% if request.user.is_superuser %}
            {% endif %}
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ request.user.department }}&nbsp;<strong>{{ request.user.first_name }}</strong>，欢迎您<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/logout/">登出</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script language="JavaScript">
        function activeNavbar() {
            var url, id;
            url = window.location.pathname;
            url = url.split('/')[1];
            id = '#nav_' + url;
            $('#id_ul_navbar li.active').removeClass('active');
            $(id).addClass('active');
        };
        activeNavbar();
    </script>
